
.nameIcon{
    display: flex;
    align-items: center;
    gap: 1.2rem;
   justify-content: left;
 }
 
 .profileIcon{
     width: 50px;
     height: 50px;
     border-radius: 100%;
     padding-left: .82rem;
     padding-top: .95rem;
     color: white;
 }